<h2>Transactions</h2>

<%= link_to 'New Transaction', new_transaction_path, :class => 'btn btn-success' %>

<div class="row">
  <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>License Number</th>
            <th>Vehicle Type</th>
            <th>Total</th>
          </tr>
          </thead>
        <tbody>
        	<% @transactions.each do |t| %>
            <tr>
  		        <td><%= t.car.license_number %></td>
              <td><%= t.car.car_type %></td>
  		        <td><%= number_to_currency(t.total) %></td>
            </tr>
		      <% end %>
        </tbody>
       	</table>
       </div>
       <%= will_paginate @transactions %>
    </div>
</div>

<%= link_to 'New Transaction', new_transaction_path, :class => 'btn btn-success' %>